 body{
    margin: 0;
    overflow-x: hidden;
    background: black;
}
#canvas { 
    display: block;
    position: absolute;
    mix-blend-mode: exclusion;
}
#canvas-canvas{ 
    display: block;
    position: absolute;
    mix-blend-mode: exclusion;
}
/* #title{ 
     height: 100vh;
     display: grid;
     place-items:center;
     position: absolute;
} */
#title{ 
    position: absolute;
	top: 10px;
	width: 100%;
	text-align: left;
	z-index: 100;
	display:block;
}
h1{ 
    font-size: 30px;
    font-style: verdana;
    text-transform: uppercase;
    color:#24a0ab;
}